.list_spacer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.no_data_to_list {
    border: .2rem dashed #E2E2E2;
    border-radius: 1rem;
    /* width: 90%; */
    padding: 1rem;
    /* padding-top: 1rem; */
    /* padding-bottom: 1rem; */
    margin-top: 1rem;
    /* padding: 2rem; */
}

.answer_buttons {
    display: flex;
    flex-direction: row;
}


.list_box {
    box-shadow: .1rem .1rem .1rem rgba(0, 0, 0, 0.29), .1rem .1rem .3rem rgba(0, 0, 0, 0.27), -.1rem .1rem .3rem rgba(0, 0, 0, 0.27);
    border-radius: .3rem;
    width: 90%;
    margin-bottom: .25em;
    margin-top: .75rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
}