.subheader {
    /* box-shadow: 0rem .1rem .15rem rgba(63, 145, 221, 0.78); */
    /* border-bottom: 1px solid #696969; */
    /* box-shadow: inset 0rem .1rem .15rem rgba(0,0,0,0.19), inset 0rem .1rem .5rem rgba(0,0,0,0.23);*/
    box-shadow: .1rem .1rem .4rem rgba(0, 0, 0, 0.29), .1rem .1rem .4rem rgba(0, 0, 0, 0.27);
    background-color: #DFDFDF;
    color: #333;
    /* padding: 3%; */
    /* padding-top: 2.4rem; */
    /* padding-bottom: 5%; */
    font-family: sans-serif;
    /* font-size: 100%; */
    /* overflow: scroll; */
    width: 100%;
    position: relative;
    z-index: 5;
}

.subheader_instructor_welcome {
    padding-top: 1rem;
    font-family: Hind;
    text-align: center;
    /* font-size: 1rem; */

}

.subheader_dynamic_portion_item {
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-content: center;
    text-align: center;
}

.subheader_dynamic_portion_item button{
    font-size: .8rem;
    width: 30%;
    /* min-width: 5vw;
    min-height: 5vh;
    max-height: 13vh;
    max-width: 13vw; */

}

.top_padding {
    padding-top: 1rem;
}

#top_margin {
    padding-top: 1rem;
}

#goLive {
    background: linear-gradient(to bottom right, rgba(37, 175, 225, 0.38), #25aae1);
    border: 1px solid #1A7EA5;
    color: #f2f2f2;
    min-width: 70px;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-weight: 700;
    border-radius: .3rem;
    font-size: 1rem;
    box-shadow: 0px 1px 1px rgb(153, 153, 153), 0px 1px 1px rgba(0,0,0,0.23);
}

#hideMe {
    -moz-animation: cssAnimation 0s ease-in 2s forwards;
    /* Firefox */
    -webkit-animation: cssAnimation 0s ease-in 2s forwards;
    /* Safari and Chrome */
    -o-animation: cssAnimation 0s ease-in 2s forwards;
    /* Opera */
    animation: cssAnimation 0s ease-in 2s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
@keyframes cssAnimation {
    to {
        width:0;
        height:0;
        overflow:hidden;
    }
}
@-webkit-keyframes cssAnimation {
    to {
        width:0;
        height:0;
        visibility:hidden;
    }
}


@media (min-width: 768px) {
    .student_subheader {
        display: none;
    }

    .instructor_subheader {
        display: none;
    }
}

@media screen (min-width: 768px) {
    .subheader_dynamic_portion_item {
        width: 80%;
        display: flex;
        justify-content: space-around;
        align-content: center;
        text-align: center;
    }
}