.classroom {
    background-color: #fff;
    /* height: 85vh; */
    padding: 5% 5% 5% 5%;
    position: relative;
    z-index: 4;
    /* border: .1rem solid #CCCCCC; */
    margin: 1.5rem;
    padding: 1.5rem;
    border-radius: 1rem;
    box-shadow: .1rem .1rem .1rem rgba(0, 0, 0, 0.29), .1rem .1rem .3rem rgba(0, 0, 0, 0.27), -.1rem .1rem .3rem rgba(0, 0, 0, 0.27);
    overflow-wrap: true;
}

.questionbox {
    border: 1px dashed #fff;
    width: 90vw;
}

.hidden {
    display: none;
}