.classroom {
    background-color: #fff;
    /* height: 85vh; */
    padding-top: 30vh;
    position: static;
    z-index: 0;

}

.questionbox {
    border: 1px dashed #fff;
    width: 90vw;
}

.hidden {
    display: none;
}