@import url('https://fonts.googleapis.com/css?family=Hind');

.header {
    background-color: #fff;
    color: #333;
    border-bottom: 1px solid black;
    padding: 20px;
    font-family: 'Hind', sans-serif; 
    font-weight: 700;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    align-items: center;
}

.instructor {
    display: flex;
    flex-direction: row;
}

button {
    font-family: 'Hind', sans-serif; 
    font-weight: 300;
}

.logo {
    width: 35px;
    height: 35px;
}