.action_button_wrapper {
    /* width: 100%; */
    display: flex;
    justify-content: space-around;
    padding: .5rem;
    /* margin-bottom: 1rem; */
}

.action_button_wrapper button {
    width: 100%;
    white-space: nowrap;
    background: linear-gradient(to bottom right, rgb(255, 255, 255), #EBEBEB);
}

.action_button_wrapper button:hover {
    width: 100%;
    background: linear-gradient(to bottom right, rgb(255, 255, 255), #F5F5F5);
    /* border: 1px solid #444; */
}

